.page{
    height: 150px;
    width:350px;
    text-align: center;
    padding-top: 10px;
    border-color:black;
}

.hoverEffect:hover {
    transform: scale(1.1); /* Scale up on hover */
    transition: transform 0.2s ease-in; /* Smooth transition */
  }
  
